#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	database:
		driver: mysqli

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

services:
	- App\Components\NewProduct\INewProductFactory 
	- App\Components\ListProducts\IListProductsFactory
	- App\Components\NewService\INewServiceFactory
	- App\Components\ListServices\IListServicesFactory
	- App\Model\Reservation\ReservationFacade
	- App\Model\Reservation\ServiceReservation
	- App\Model\Reservation\ProductReservation
	- App\Components\ReserveProduct\IReserveProductFactory
	- App\Components\ListReservations\IListReservationsFactory
	- App\Components\ReserveService\IReserveServiceFactory
	router: App\Router\RouterFactory::createRouter


extensions:
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension

dbal:
	driver: %database.driver%
	host: %database.host%
	database: %database.dbname%
	username: %database.user%
	password: %database.password%
	connectionTz: %database.zone%
	port: %database.port%


orm:
	model: App\Model\Database\ORM\EntityModel