body {
	margin-top: 20px;
}

h1 {
	color: #3484D2;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form .required label {
	font-weight: bold;
}

nav {
    margin-bottom: 3em; 
}

.radek {
    font-size: 450%;
    margin-bottom: 2em;
}